.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.thumbnail{
  width: 40vh;
}

.butn-menu{
  margin: 0;
}

.title{
  margin-top: 15%;
}

.margin{
  margin-top: 18%;
}

li{
  width: fit-content;
}

.pb-5, .py-5 {
  padding-bottom: 0rem!important; 
  margin: 50px auto;
}

footer{
  background-color: #093556;
}

.btn{
  margin-bottom: 1.5rem;
}

.btn-menu{
  margin-bottom: 0;
}

.inp{
  width: 20%;
}




summary, .mainSum{
  width: fit-content;
}

.mainSub{
  margin: 0 auto;
  padding: 3vh;
  font-weight: 600;
  color: black;
  transition: 0.25s ease;
  height: fit-content;
}

summary::-webkit-details-marker{
  display: none;
}

.mainDetails{
  background-color: #afb4ba;
  border-color: #afb4ba;
  background-color: #afb4ba;
  border-color: #afb4ba;
  height: 11vh;
  display: flex;
  font-size: large;
  flex-direction: column;
  transition: height 1s ease;
  border-radius: 5px;
}

.mainDetails[open]{
  height: fit-content;
}

.mainDetails[open] .mainSub{
  color: #afb4ba;
}

.tit{
  font-size: large;
  font-weight: 600;
  padding: 0 2vh;
}

.list{
  padding: 0 0 2.5vh 6.5vh;
}






















@media (min-width: 768px) {

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

}





